@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
